In [148]:
# Cargamos las librer√≠as

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn

In [149]:
# Cargamos el dataset train.csv

df = pd.read_csv("src\\datasets\\train.csv")
df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [150]:
df.describe()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
count,8514.000000,8512.000000,8510.000000,8485.000000,8510.000000,8505.000000
mean,28.827930,224.687617,458.077203,173.729169,311.138778,304.854791
std,14.489021,666.717663,1611.489240,604.696458,1136.705535,1145.717189
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,38.000000,47.000000,76.000000,27.000000,59.000000,46.000000
max,79.000000,14327.000000,29813.000000,23492.000000,22408.000000,24133.000000

In [151]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [152]:
# Busca valores nulos
df.isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [153]:
# Busca valores extra√±os
columns = df.columns
n_values = [df[a].unique() for a in df.columns]

count = pd.DataFrame()
count['features'] = columns
count['n_values'] = n_values
count

        features                                           n_values
0    PassengerId  [0001_01, 0002_01, 0003_01, 0003_02, 0004_01, ...
1     HomePlanet                         [Europa, Earth, Mars, nan]
2      CryoSleep                                 [False, True, nan]
3          Cabin  [B/0/P, F/0/S, A/0/S, F/1/S, F/0/P, F/2/S, G/0...
4    Destination     [TRAPPIST-1e, PSO J318.5-22, 55 Cancri e, nan]
5            Age  [39.0, 24.0, 58.0, 33.0, 16.0, 44.0, 26.0, 28....
6            VIP                                 [False, True, nan]
7    RoomService  [0.0, 109.0, 43.0, 303.0, 42.0, 39.0, 73.0, 71...
8      FoodCourt  [0.0, 9.0, 3576.0, 1283.0, 70.0, 483.0, 1539.0...
9   ShoppingMall  [0.0, 25.0, 371.0, 151.0, 3.0, 17.0, nan, 589....
10           Spa  [0.0, 549.0, 6715.0, 3329.0, 565.0, 291.0, 216...
11        VRDeck  [0.0, 44.0, 49.0, 193.0, 2.0, nan, 124.0, 113....
12          Name  [Maham Ofracculy, Juanna Vines, Altark Susent,...
13   Transported                                      [False, True]

In [154]:
# Divido en num√©ricas y categ√≥ricas, para imputar los valores nulos por separado
categorical_cols = df.select_dtypes(include=['object']).columns
numerical_cols = df.select_dtypes(include=['float64', 'int64']).columns

In [155]:
# Relleno con la media en variables num√©ricas
for col in numerical_cols:
    df[col] = df[col].fillna(df[col].mean())

# Relleno con la moda (el valor m√°s frecuente) en variables categ√≥ricas
for col in categorical_cols:
    df[col] = df[col].fillna(df[col].mode()[0])

C:\Users\Administrator\AppData\Local\Temp\ipykernel_3176\3038106333.py:7: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[col] = df[col].fillna(df[col].mode()[0])

In [156]:
# Comprobamos que se haya hecho bien la imputacion
df.isnull().sum()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8693 non-null   object
 2   CryoSleep     8693 non-null   bool
 3   Cabin         8693 non-null   object
 4   Destination   8693 non-null   object
 5   Age           8693 non-null   float64
 6   VIP           8693 non-null   bool
 7   RoomService   8693 non-null   float64
 8   FoodCourt     8693 non-null   float64
 9   ShoppingMall  8693 non-null   float64
 10  Spa           8693 non-null   float64
 11  VRDeck        8693 non-null   float64
 12  Name          8693 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(3), float64(6), object(5)
memory usage: 772.7+ KB

In [157]:
# Dividimos la columna Cabin en 3 columnas, ya que representa deck/num/side y ser√° m√°s f√°cil 
# al entrenar el modelo y al hacer la conversion a numerico
df[["Deck", "Cabin_num", "Side"]] = df["Cabin"].str.split("/", expand=True)
try:
    df = df.drop('Cabin', axis=1)
except KeyError:
    print("Field does not exist")

# Convertir 'Cabin_num' a num√©rico
df["Cabin_num"] = pd.to_numeric(df["Cabin_num"], errors='coerce')

In [158]:
# Borramos las columnas PassengerId y Name ya que no dan informaci√≥n relevante para el modelo
df = df.drop(['PassengerId', 'Name'], axis=1)

In [159]:
# Separar caracter√≠sticas (X) y etiquetas (y). (y) es la variable a predecir y (X) las predictoras
X = df.drop(columns=['Transported'])
y = df['Transported']

In [160]:
X = pd.get_dummies(X)

In [162]:
from sklearn.preprocessing import StandardScaler

# Definimos las variables numericas que queremos escalar
numeric_cols = ['Age', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck', 'Cabin_num']

# Creamos el escalador
scaler = StandardScaler()

# Escalamos solo las columnas num√©ricas
X[numeric_cols] = scaler.fit_transform(X[numeric_cols])

In [164]:
from sklearn.model_selection import train_test_split

# Dividir los datos en conjuntos de entrenamiento (70%) y prueba (30%)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42, stratify=y)

# Verificar las formas de los datos
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(6085, 25) (2608, 25) (6085,) (2608,)

In [173]:
# Regresi√≥n log√≠stica
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score

# Dividir los datos en conjuntos de entrenamiento (70%) y prueba (30%)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42, stratify=y)

# Verificar las formas de los datos
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

# Definir los hiperpar√°metros para Logistic Regression
param_grid_log = {
    'C': [0.01, 0.1, 1.0, 10.0],    # Regularizaci√≥n
    'solver': ['liblinear', 'lbfgs'] # Solvers disponibles
}

# Crear el modelo base
model_log = LogisticRegression(max_iter=1000)

# Implementar GridSearchCV para ajustar los hiperpar√°metros
grid_search_log = GridSearchCV(estimator=model_log, param_grid=param_grid_log, cv=5, n_jobs=-1, verbose=1)

# Entrenar el modelo con los mejores hiperpar√°metros encontrados
grid_search_log.fit(X_train, y_train)

# Ver los mejores par√°metros encontrados
print(f"Best hyperparameters for Logistic Regression: {grid_search_log.best_params_}")

# Predecir en el conjunto de prueba con el mejor modelo
y_pred_model_log = grid_search_log.best_estimator_.predict(X_test)

# Evaluar el modelo
accuracy_model_log = accuracy_score(y_test, y_pred_model_log)
print(f"Logistic Regression Accuracy (after hyperparameter tuning): {accuracy_model_log:.4f}")

# Validaci√≥n cruzada con 5 particiones (folds) usando el mejor modelo
cv_scores_log = cross_val_score(grid_search_log.best_estimator_, X, y, cv=5)

# Imprimir los resultados promedio
print(f"Cross-validation scores (Logistic Regression): {cv_scores_log}")
print(f"Mean cross-validation accuracy (Logistic Regression): {cv_scores_log.mean():.4f}")

(6085, 25) (2608, 25) (6085,) (2608,)
Fitting 5 folds for each of 8 candidates, totalling 40 fits
Best hyperparameters for Logistic Regression: {'C': 10.0, 'solver': 'liblinear'}
Logistic Regression Accuracy (after hyperparameter tuning): 0.7899
Cross-validation scores (Logistic Regression): [0.77515814 0.78953422 0.79643473 0.78711162 0.78711162]
Mean cross-validation accuracy (Logistic Regression): 0.7871

In [174]:
# Random Forest
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV, train_test_split
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score

# Dividir los datos en conjuntos de entrenamiento (70%) y prueba (30%)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42, stratify=y)

# Definir los hiperpar√°metros para Random Forest
param_grid_rf = {
    'n_estimators': [100, 200, 300],     # N√∫mero de √°rboles
    'max_depth': [None, 10, 20, 30],     # Profundidad m√°xima del √°rbol
    'min_samples_split': [2, 5, 10],     # M√≠nimo n√∫mero de muestras para dividir un nodo
    'min_samples_leaf': [1, 2, 4]        # M√≠nimo n√∫mero de muestras en una hoja
}

# Crear el modelo base
model_rf = RandomForestClassifier(random_state=42)

# Implementar GridSearchCV para ajustar los hiperpar√°metros
grid_search_rf = GridSearchCV(estimator=model_rf, param_grid=param_grid_rf, cv=5, n_jobs=-1, verbose=1)

# Entrenar el modelo con los mejores hiperpar√°metros encontrados
grid_search_rf.fit(X_train, y_train)

# Ver los mejores par√°metros encontrados
print(f"Best hyperparameters for Random Forest: {grid_search_rf.best_params_}")

# Predecir en el conjunto de prueba con el mejor modelo
y_pred_model_rf = grid_search_rf.best_estimator_.predict(X_test)

# Evaluar el modelo
accuracy_model_rf = accuracy_score(y_test, y_pred_model_rf)
print(f"Random Forest Accuracy (after hyperparameter tuning): {accuracy_model_rf:.4f}")

# Validaci√≥n cruzada con 5 particiones (folds) usando el mejor modelo
cv_scores_rf = cross_val_score(grid_search_rf.best_estimator_, X, y, cv=5)

# Imprimir los resultados promedio
print(f"Cross-validation scores (Random Forest): {cv_scores_rf}")
print(f"Mean cross-validation accuracy (Random Forest): {cv_scores_rf.mean():.4f}")

Fitting 5 folds for each of 108 candidates, totalling 540 fits
Best hyperparameters for Random Forest: {'max_depth': 20, 'min_samples_leaf': 4, 'min_samples_split': 2, 'n_estimators': 200}
Random Forest Accuracy (after hyperparameter tuning): 0.8048
Cross-validation scores (Random Forest): [0.77285796 0.77573318 0.80736055 0.83026467 0.80897583]
Mean cross-validation accuracy (Random Forest): 0.7990

In [175]:
# XGBoost
import xgboost as xgb
from sklearn.model_selection import GridSearchCV, train_test_split
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score

# Dividir los datos en conjuntos de entrenamiento (70%) y prueba (30%)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42, stratify=y)

# Definir los hiperpar√°metros para XGBoost
param_grid_xgb = {
    'n_estimators': [100, 200],               # N√∫mero de √°rboles
    'max_depth': [3, 6, 10],                  # Profundidad m√°xima de los √°rboles
    'learning_rate': [0.01, 0.1, 0.2],        # Tasa de aprendizaje
    'subsample': [0.6, 0.8, 1.0],             # Fracci√≥n de muestras usadas para entrenar cada √°rbol
    'colsample_bytree': [0.6, 0.8, 1.0]       # Fracci√≥n de caracter√≠sticas usadas en cada √°rbol
}

# Crear el modelo base
xgb_model = xgb.XGBClassifier(random_state=42, eval_metric="logloss")

# Implementar GridSearchCV para ajustar los hiperpar√°metros
grid_search_xgb = GridSearchCV(estimator=xgb_model, param_grid=param_grid_xgb, cv=5, n_jobs=-1, verbose=1)

# Entrenar el modelo con los mejores hiperpar√°metros encontrados
grid_search_xgb.fit(X_train, y_train)

# Ver los mejores par√°metros encontrados
print(f"Best hyperparameters for XGBoost: {grid_search_xgb.best_params_}")

# Predecir en el conjunto de prueba con el mejor modelo
y_pred_model_xgb = grid_search_xgb.best_estimator_.predict(X_test)

# Evaluar el modelo
accuracy_model_xgb = accuracy_score(y_test, y_pred_model_xgb)
print(f"XGBoost Accuracy (after hyperparameter tuning): {accuracy_model_xgb:.4f}")

# Validaci√≥n cruzada con 5 particiones (folds) usando el mejor modelo
cv_scores_xgb = cross_val_score(grid_search_xgb.best_estimator_, X, y, cv=5)

# Imprimir los resultados promedio
print(f"Cross-validation scores (XGBoost): {cv_scores_xgb}")
print(f"Mean cross-validation accuracy (XGBoost): {cv_scores_xgb.mean():.4f}")

Fitting 5 folds for each of 162 candidates, totalling 810 fits

c:\Users\Administrator\Desktop\IA_Bootcamp\Proyecto_Spaceship_Titanic\AndreaMB_Spaceship_Titanic\venv\Lib\site-packages\numpy\ma\core.py:2881: RuntimeWarning: invalid value encountered in cast
  _data = np.array(data, dtype=dtype, copy=copy,

Best hyperparameters for XGBoost: {'colsample_bytree': 1.0, 'learning_rate': 0.2, 'max_depth': 3, 'n_estimators': 200, 'subsample': 0.8}
XGBoost Accuracy (after hyperparameter tuning): 0.8117
Cross-validation scores (XGBoost): [0.74123059 0.76308223 0.79758482 0.80724971 0.78365938]
Mean cross-validation accuracy (XGBoost): 0.7786